:root {
    --border: solid 2px red;
    --border2: solid 2px green;
    --border3: solid 2px blue;

    --clr-bg: #f8eae1;
    --clr-primary: #7b5051;
    --clr-burlywood05: rgb(222, 184, 135, 0.3);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg);    
    font-family: sans-serif;
    
    header {
        background: linear-gradient(to right, rgb(158, 144, 135, 0.5), rgb(158, 144, 135, 0.7)), url(https://cdn.shopify.com/s/files/1/0331/4188/3012/collections/Flowers_Header_0850_1c6ba1e9-8163-47c2-896d-9f6eb042a9e8_2000x.jpg?v=1592388730);
        display: flex;
        align-items: center;
        color: var(--clr-bg);
        min-height: 15vh;    

        & > * {
            flex-basis: 100%;
        }

        .header__title {
            text-decoration: none;

            h1 {
                margin: 1.5em;
                color: var(--clr-bg);
            }

            &:visited{
                color:var(--clr-bg);
                text-decoration: none;
            }
        }

        nav ul{
            display: flex;
            place-content: flex-end;
            margin-right: 2em;

            li {
                list-style: none;
                margin: 1rem;
                color: var(--clr-bg);

                a{
                    font-family: sans-serif;
                    color: var(--clr-bg);
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1rem;

                    &:visited {
                        color: var(--clr-bg);
                    }
                }
            }
        }
    }

    main {
        min-height: 70vh;
        display: grid;
        place-content: center;
    }

    .cartBtn {
        border: none;
        background: none;
        color: var(--clr-bg);
        cursor: pointer;
        
        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }

    .items__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2em;
        max-width: 75vw;

        .item {
            background-color: var(--clr-burlywood05);
            box-shadow: 1px 1px 5px 2px rgb(176, 196, 180, 0.5);
            color: var(--clr-primary);
            border-radius: 1.5em;
            margin: 1.5em;
            display: flex;
            flex-direction: column;


            .itemImg {
                max-width: 225px;
                aspect-ratio: 1;
                object-fit: contain;
                border-radius: 1.5em;
            }

            .titleAndPrice {
                &>*{
                    font-size: 1.2rem;
                    padding: 5px 1rem;
                    font-weight: thin;
                }

                h5 {
                    font-size: 1.5rem;
                    font-weight: bolder;

                }
            }

            .link__verMas {
                font-size: 1.1rem;
                text-decoration: none;
                color: var(--clr-primary);
                text-align: center;
                margin:1rem;
                padding: 5px;
                background: var(--clr-burlywood05);
            }
        }
    }
    
    footer {
        background-color: var(--clr-primary);
        min-height: 15vh;
        color: var(--clr-bg);
        display: grid;
        place-content: center;
        width: 100%;
        margin-top: 2em;
    }
}

body {
    #root {
        .itemCount {
            text-align: center;
            font-size: 1.2rem;

            button {
                padding: 5px;
            }

            .itemBtn {
                background: none;
                border: none;
                font-size: 1.2rem;
                color: var(--clr-primary);
            }
        }
        .itemDetailContainer {
            margin: 2em;
            .itemDetail {
                display: flex;
                margin: 2em;
                .itemDetail__img {
                    max-width: 450px;
                    margin-right: 1.5em;
                    border-radius: 2em;
                }

                .container__detail {
                    display: flex;
                    flex-direction: column;
                    place-content: center;
                    justify-content: space-evenly;
                    padding-bottom: 3rem;
    
                    p {
                        max-width: 40ch;
                        // margin: 1em;
                        text-indent: 1rem;
                    }

                    h3 {
                        font-size: 2rem;
                        color: var(--clr-primary);
                    }
                    
                    .cartButtonContainer {
                        width: 100%;
                        display: grid;
                        place-content: center;
                        .cartButton {
                            width: 20vw;
                            padding: 0.7rem;
                            border: none;
                            background-color: var(--clr-primary);
                            color: var(--clr-bg);
                            font-size: 1.2rem;
                            cursor: pointer;

                            &:hover{
                                opacity: 0.85;
                            }
                            &:active{
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }
}

.price {
    font-size: 1.5rem;
}